 nav {
  background-color: #00a087;
  padding: 0 2em;
  color: #e8fdff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
 }

 #nav-bar .header {
  float: left;
  padding-left: 10px;
  font-size: 2em;
  line-height: 2.5em;
 }

 #nav-bar .logo {
  height: 80px;
  float: left;
 }